body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(to right, rgb(58, 127, 255) 35%, rgb(142, 199, 247) 120%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    background-color: #f1f1f1;
    width: 300px;
    height: 400px;
    border-radius: 25px;
    margin-top: 100px;
}
span{
    color: rgb(58,117,255);
}
h5{
    font-weight: 900;
    color: #7a7a7a;
    margin-left: 80px;
    margin-top: 60px;
}
.input-box{
    width: 230px;
    padding: 5px 0px;
    margin: 18px 35px;
    background-color: #f1f1f1;
    border: none;
    border-bottom: 1px solid rgb(58, 127, 235);
}
.input-box:focus{
    outline: none;
    border-bottom: 2px solid rgb(58, 127, 255);
    margin: 14px 35px 18px 35px;
}   
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 235px;
    height: 35px;
    margin: 0px 35px;
    border-radius: none;
    border: 0px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    outline: none;
    background: linear-gradient(to right, rgb(58, 127, 255) 35%, rgb(142, 199, 247) 150%);
}
.btn:hover{
    background: linear-gradient(to left, rgb(58, 127, 255) 35%, rgb(142, 199, 247) 150%);
}
button,a{
    display: block;
}
a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding: 4px;
}
.forget-password{
    color: #686869;
    font-size: 13px;
    margin-top: 5px;
}
.creat-account{
    color: rgb(58, 127, 255);
    font-size: 13px;
}